<div class="row">
  <div class="col-lg-6">
	  <table st-table="ctrl.rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="firstName">first name</th>
					<th st-sort="lastName">last name</th>
					<th st-sort="birthDate">birth date</th>
					<th st-sort="balance" st-skip-natural="true">balance</th>
					<th>email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in ctrl.rowCollection">
					<td ng-bind="row.firstName"></td>
					<td ng-bind="row.lastName"></td>
					<td ng-bind="row.birthDate | date"></td>
					<td ng-bind="row.balance | currency"></td>
					<td>email</a></td>
				</tr>
			</tbody>
		</table>
  </div>
  <div class="col-lg-6">
  </div>
</div>
