<div class="col-xs-12">
	<div class="row padding-bottom-10">
		<button class="btn btn-primary" ng-click="ctrl.showConfirmModal('primary')">Confirm primary</button>
		<button class="btn btn-danger" ng-click="ctrl.showConfirmModal('danger')">Confirm danger</button>
	</div>
	<div class="row">
		<button class="btn btn-default btn-primary" ng-click="ctrl.showAlertModal('primary')">Alert primary</button>
		<button class="btn btn-default btn-info" ng-click="ctrl.showAlertModal('info')">Alert info</button>
		<button class="btn btn-default btn-success" ng-click="ctrl.showAlertModal('success')">Alert success</button>
		<button class="btn btn-default btn-warning" ng-click="ctrl.showAlertModal('warning')">Alert warning</button>
		<button class="btn btn-default btn-danger" ng-click="ctrl.showAlertModal('danger')">Alert danger</button>
	</div>
</div>