body.rdash{
	color: #333333 !important;

	.row.header .user > .item a {
		color: #919191;
	}

	.double-bounce1,
	.double-bounce2 {
		background-color: #333;
	}

	#sidebar-wrapper {
		background: #30426a;
	}

	.sidebar-footer,
	ul.sidebar .sidebar-main a,
	ul.sidebar .sidebar-list a:hover,
	#page-wrapper:not(.open) ul.sidebar .sidebar-title.separator {
		background: #2d3e63;
	}

	ul.sidebar {

		li a {
			color: #fff;
		}

		.sidebar-title {
			color: #738bc0;
		}

		.sidebar-list a {
			color: #b2bfdc;
		}

		.sidebar .sidebar-list a:hover {
			color: #fff;
		}

		.sidebar-footer div {
			a {
				color: #b2bfdc;
			}

			a:hover {
				color: #ffffff;
			}
		}

		.widget {
			border-color: red;

			.widget-header {
				color: #767676;
				background-color: #f6f6f6;
				border-bottom: 1px solid red;
			}

			.widget-body .error {
				color: #ff0000;
			}

			.widget-icon i {
				color: #ffffff;
			}

		}

	}
}