<div class="modal-header no-padding-top-bottom bg-{{modalOptions.type}}">
	<span ng-class="modalOptions.icon" class="pull-left margin-top-10 padding-right-10"></span>
	<h4 ng-bind="modalOptions.headerText"></h4>
</div>
<div class="modal-body">
	<p ng-bind="modalOptions.bodyText"></p>
</div>
<div class="modal-footer padding-top-10 padding-bottom-10">
	<button type="button" class="btn" data-ng-click="modalOptions.close()" ng-if="modalOptions.showCancel" ng-bind="modalOptions.closeButtonText"></button>
	<button class="btn" ng-class="modalOptions.type ? ('btn-'+modalOptions.type) : 'btn-default' " data-ng-click="modalOptions.ok();" ng-bind="modalOptions.actionButtonText"></button>
</div>